.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: rgb(13,110,253);
  padding: 0,5%;
  font-size: 20px;
  font-weight: bold;
}
